* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.menu-open {
    overflow: hidden;
  }
  
.menu-open * {
    visibility: hidden;
    pointer-events: none;
  }
  

#about {
  display: flex;
  margin-top: 65.5rem;
  margin-bottom: 80.2rem;
  font-family: "Montserrat";
}

#about, .about_text  {
  margin-left: 6.6rem;
}

#about .about_title {
    margin-top: 5.5rem;
}

h2 {
  color: #ce8f5c;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.about_text1 {
  margin-top: 8rem;
}

#about, .about_text1 {
  color: #000;
  font-size: 1.8rem;
  line-height: 2rem;
  width: 56.3rem;
  height: 4.11rem;
}


.carrossel {
  width: 520px;
  height: 435px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  left: 72.5rem;
  top: 82.5rem;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.carrossel .slide img {
  height: 100%;
  width: 100%;
}

.slides_nav {
  display: flex;
  margin-top: 46.5rem;
  margin-left: 26.8rem;
}

.bar {
  width: 15px;
  height: 15px;
  margin: 6px;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transform: 0.3s ease;
}

.bar:hover {
    background-color: #000;
  }

input {
    display: none;
}

.carrossel__slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide {
    width: 34%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -34%;
}

#slide3:checked ~ .s1 {
    margin-left: -68%;
}

