* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.menu-open {
  overflow: hidden;
}

.menu-open * {
  visibility: hidden;
  pointer-events: none;
}

.title_image {
  display: flex;
  position: relative;
  width: 100%;
  font-family: "Montserrat";
  padding-top: 70px;

  h1 {
    position: absolute;
    color: #312f2f;
    font-size: 6.4rem;
    font-weight: 600;
    margin: 100px;
  }

  img {
    width: 100%;
  }
}

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10rem;
  text-align: left;
  padding: 6.6rem 3.6rem 6.6rem 3.6rem;

  h2 {
    color: #ce8f5c;
    font-size: 3.6rem;
    font-weight: 500;
    font-family: "Montserrat";
  }

  p {
    color: #000;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 56.3rem;
    height: 4.11rem;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.carrossel {
  width: 520px;
  height: 435px;
  border-radius: 20px;
  overflow: hidden;
  left: 72.5rem;
  top: 82.5rem;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.carrossel .slide img {
  height: 100%;
  width: 100%;
}

.slides_nav {
  display: none;
  margin-top: 46.5rem;
  margin-left: 26.8rem;
}

.bar {
  width: 1.5rem;
  height: 1.5rem;
  margin: 6px;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transform: 0.3s ease;
}

.bar:hover {
  background-color: #000;
}

input {
  display: none;
}

.carrossel__slides {
  display: flex;
  width: 300%;
  height: 100%;
}

.slide {
  width: 34%;
  transition: 0.6s;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -34%;
}

#slide3:checked ~ .s1 {
  margin-left: -68%;
}
