* {
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    font-size: 62.5%;
  }

  .footer__text {
    display: flex;
    background: #ce8f5c;
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
  }

  .footer_text1, .footer_text2, .footer_text3 {
    margin: 75px 100px 61px 86px;
  }

  .footer_title {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    width: 28.6rem;
    margin-top: 20px;
  }

  .footer_subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 28.6rem;
  }

  .footer_subtitle2 {
    font-style: italic;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 28.6rem;
    margin-top: 15px;

  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 20px;
  }

  .footer__img {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;

  }

  .card {
    margin-top: 12px;
  }

  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eea468;  
    font-family: "Montserrat";
    height: 40px;
    font-size: 14px;
    width: 100%
  }

  .name_a {
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
    margin-left: 5px;
  }
}

@media (min-width: 1920px) {
  .footer__text {
    display: flex;
    gap: 150px;
   }
  
   .footer_text1, .footer_text2, .footer_text3 {
    margin-left: 130px;
    align-items: center;
   }
  
   .footer_title {
    font-size: 26px;
    width: 28.6rem;
    margin-top: 20px;
  }
  
  .footer_subtitle {
    font-size: 24px;
    width: 28.6rem;
  }
  
  .footer_subtitle2 {
    font-size: 24px;
  }

  .rights {
    font-size: 22px;
    height: 40px;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .footer__text {
    display: flex;
    gap: 80px;
   }

   .footer_text1, .footer_text2, .footer_text3 {
    margin-left: 130px;
  }
  
  .rights {
    font-size: 18px;
  }
}

@media (min-width: 1440px) and (max-width: 1559px) {
  .footer__text {
    display: flex;
    gap: 180px;
   }
  
   .footer_text1, .footer_text2, .footer_text3 {
    margin: 75px 10px 61px 80px;
    align-items: center;
   }
  
   .footer_title {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .footer_subtitle {
    font-size: 20px;
  }
  
  .footer_subtitle2 {
    font-size: 20px;
  }
  
  .rights {
  font-size: 16px;
 }
}

@media (min-width: 1281px) and (max-width: 1439px) {
  .footer__text {
    display: flex;
    gap: 20px;
   }
  
  .rights {
    font-size: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .footer__text {
    display: flex;
    gap: 80px;
   }
  
   .footer_text1, .footer_text2, .footer_text3 {
    margin: 75px 10px 61px 80px;
    align-items: center;
   }
  
   .footer_title {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .footer_subtitle {
    font-size: 20px;
  }
  
  .footer_subtitle2 {
    font-size: 20px;
  }
  
  .rights {
  font-size: 16px;
 }
}

@media (min-width: 901px) and (max-width: 1024px) {
 .footer__text {
  display: flex;
  gap: 20px;
 }

 .footer_text1, .footer_text2, .footer_text3 {
  margin: 75px 10px 61px 35px;
  align-items: center;
 }

 .footer_title {
  font-size: 15px;
  width: 28.6rem;
  margin-top: 20px;
}

.footer_subtitle {
  font-size: 15px;
  width: 28.6rem;
}

.footer_subtitle2 {
  font-size: 15px;
}

}

@media (min-width: 769px) and (max-width: 900px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .card {
    margin-top: 12px;
  }

  .footer__img {
    margin-left: 110px;
  }

  .footer_subtitle {
    margin-top: 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .card {
    margin-top: 12px;
  }

  .footer__img {
    margin-left: 110px;
  }

  .footer_subtitle {
    margin-top: 12px;
  }

}

@media (min-width:320px) and (max-width:480px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .footer_title {
    font-size: 18px;
  }

  .footer_subtitle {
    font-size: 15px;
  }

  .footer_text1,
  .footer_text2,
  .footer_text3 {
    margin-left: 35px;
  }

  .card {
    margin-top: 12px;
  }

  .rights {
    font-size: 7.5px;
  }

  .name_a {
    font-size: 7.5px;
    
  }

}