
.gallery {
  display: grid;
  grid-template-areas:
    "gallery_one gallery_three gallery_two"
    ". gallery_three ."
    "gallery_four gallery_three gallery_five";
  gap: 15px;
}

.gallery > .gallery_one {
  grid-area: gallery_one;
  width: 332px;
  height: 409px;
}

.gallery > .gallery_two {
  grid-area: gallery_two;
  width: 335px;
  height: 409px;
}

.gallery > .gallery_three {
  grid-area: gallery_three;
  width: 650px;
  height: 844px;
}

.gallery > .gallery_four {
  grid-area: gallery_four;
  width: 332px;
  height: 409px;
}

.gallery > .gallery_five {
  grid-area: gallery_five;
  width: 335px;
  height: 409px;
}

@media (min-width: 1920px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 15px;
  }

  .gallery > .gallery_one {
    background-size: cover;
      grid-area: gallery_one;
      width: 100%;
      height: 400px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 400px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 830px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 400px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 400px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 15px;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 300px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 300px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 640px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 300px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 300px;
    }
}

@media (min-width: 1440px) and (max-width: 1559px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 8px;
    width: 100%;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}

@media (min-width: 1281px) and (max-width: 1439px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 8px;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 8px;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 8px;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
  .gallery {
    display: grid;
    grid-template-areas:
      "gallery_one gallery_three gallery_two"
      ". gallery_three ."
      "gallery_four gallery_three gallery_five";
    gap: 5px;
  }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

  .gallery {
      display: grid;
      grid-template-areas:
        "gallery_one gallery_three gallery_two"
        ". gallery_three ."
        "gallery_four gallery_three gallery_five";
      gap: 8px;
    }

  .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_three {
      background-size: auto;
      grid-area: gallery_three;
      width: 100%;
      height: 527px;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: 250px;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: 250px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
      .gallery {
          grid-template-areas:
            "gallery_one gallery_two"
            " gallery_four gallery_three gallery_five";
          grid-template-columns: 2, 1fr;
          grid-template-rows: repeat(4, 85px);
          gap: 15px;
    }

    .gallery > .gallery_one {
      grid-area: gallery_one;
      width: 100%;
      height: auto;
    }

    .gallery > .gallery_two {
      grid-area: gallery_two;
      width: 100%;
      height: auto;
    }

    .gallery > .gallery_three {
      grid-area: gallery_three;
      margin-top: 95px;
      width: 100%;
      height: auto;
    }

    .gallery > .gallery_four {
      grid-area: gallery_four;
      width: 100%;
      height: auto;
    }

    .gallery > .gallery_five {
      grid-area: gallery_five;
      width: 100%;
      height: auto;
    }
}