*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

#menu {
    margin-top: 70.5rem;
}

:root {
    font-size: 62.5%;
}

#menu,
.menu_text {
    margin-left: 6.6rem;
}


#menu {
    margin-top: 70.5rem;
}

:root {
    font-size: 62.5%;
}

#menu,
.menu_text {
    margin-left: 6.6rem;
}

.wrapper
{
  display: flex;
  max-width: 1200px;
  position: relative;
}


.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #CE8F5C;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}


.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}


.wrapper i:hover{
  background: #f2f2f2;
}


.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}


.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}


.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}


.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  height: 250px;
  object-fit: cover;
  user-select: none;
  margin-left: 60px;
  width: calc(75% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

.categoria {
    display: flex;
    gap: 276px;
    margin-left: 90px;
}


.categoria2 { 
    font-size: 15px;
    font-family: "Montserrat";
}

.cardapio {
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.cardapio__two {
    font-size: 25px;
    margin-block: 20px;
}

.title {
    font-weight: bold;
    margin-top: 20px;
}

.valor {
    float: right;
    margin-right: 250px;
    color: #000;
}

.description {
    margin-top: 10px;
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

.description__two {
    color: #000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    line-height: 121.924%;
    letter-spacing: 0.6px;
}

.line {
    margin-top: 5px;
    height: 2px;
    width: 80%;
    background-color: #cecece;
}

.line_two {
    margin-top: 5px;
    margin-left: 150px;
    height: 2px;
    width: 77%;
    background-color: #cecece;
}

p.title {
    color: #CE8F5C;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;

}

p.descrition {
    display: flex;
    flex-direction: column;
}

.observation {
    display: flex;
    align-items: center;
    margin: 2.0rem 0 0 35.5rem;
    font-size: 1.5rem;
}

@media (min-width: 1920px) {
    #menu {
      padding-left: 150px;
    }

    .menu_title {
        font-size: 45px;
    }

    p.title {
        font-size: 23px;
    }

    .description {
        font-size: 20px;
    }

    .description__two {
        font-size: 17px;
    }

    .wrapper {
        margin-left: 130px;
        margin-bottom: 80px;
    }

    .carousel {
        width: 1200px;
        margin-top: 50px;
        margin-left: 5px;
    }

    .carousel img {
        width: 225px;
        height: 190px;
        margin-left: 10px;
    }

    .categoria {
        display: flex;
        gap: 130px;
        margin-left: 50px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    #left {
        top: 140px;
    }

    #right {
        position: relative;
        top: 140px;
        right: 25px;
    }

    .cardapio {
        margin-left: 150px;
    }


    .categoria2:nth-child(2) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(3) {
        margin-left: 40px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 40px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 35px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: 5px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: 10px;  
    }

    .description__two1 {
        color: #000;
        font-size: 17px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 17px;
    }

    .observation {
        margin-left: 450px;
    }

    .line_two {
        width: 82%;
        margin-left: 155px;
    }
  }

   @media (min-width: 1600px) and (max-width: 1919px) {
    #menu {
        padding-left: 86px;
      }
  
      .wrapper {
        margin-left: 155px;
        margin-bottom: 80px;
    }

    .carousel {
        width: 930px;
        margin-top: 50px;
        margin-left: 40px;
    }

    .carousel img {
        width: 225px;
        height: 190px;
        margin-left: 10px;
    }

    .categoria {
        display: flex;
        gap: 130px;
        margin-left: 50px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    

    #left {
        margin-left: 35px;
        top: 140px;
    }

    #right {
        position: relative;
        top: 140px;
        right: 20px;
    }

    .cardapio {
        margin-left: 150px;
    }

      .menu_title {
          font-size: 45px;
      }

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .categoria2:nth-child(2) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(3) {
        margin-left: 40px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 40px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 35px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: 5px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: 10px;  
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 350px;
    }
  }

   @media (min-width: 1440px) and (max-width: 1559px) {
        #menu {
            margin-top: -100px;
          }

          .wrapper {
            margin-left: 155px;
            margin-bottom: 80px;
        }
    
        .carousel {
            width: 930px;
            margin-top: 50px;
            margin-left: 40px;
        }
    
        .carousel img {
            width: 225px;
            height: 190px;
            margin-left: 10px;
        }
    
        .categoria {
            display: flex;
            gap: 150px;
            margin-left: 50px;
        }
    
        .categoria2 { 
            font-size: 25px;
            font-family: "Montserrat";
        }
    
        .categoria2:hover {
            color: #CE8F5C;
        }
    
        .categoria2:nth-child(2) {
            margin-left: -10px;
        }
        
        .categoria2:nth-child(3) {
            margin-left: 10px;
        }
        
        .categoria2:nth-child(4) {
            margin-left: 20px;
        }
        
        .categoria2:nth-child(5) {
            margin-left: 15px;
        }
        
        .categoria2:nth-child(6) {
            margin-left: -10px;
        }
        
        .categoria2:nth-child(7) {
            margin-left: -23px;  
        }
    
        
        #left {
            margin-left: 35px;
            top: 140px;
        }
    
        #right {
            position: relative;
            top: 140px;
            right: 20px;
        }

        .cardapio {
            margin-left: 150px;
        }
    

          .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }
    
        .valor2 {
            color: #000;
            float: right;
            margin-right: 250px;
        }
    
        .observation {
            margin-left: 350px;
        }
  }

  @media (min-width: 1281px) and (max-width: 1439px) {

    #menu {
        margin-top: 300px;
      }

    .wrapper {
        margin-left: 55px;
        margin-bottom: 80px;        
    }

    .carousel {
        width: 1000px;
        margin-top: 50px;
        margin-left: 40px;
    }

    .carousel img {
        width: 192px;
        height: 160px;
        margin-left: 10px;
    }

    .categoria {
        display: flex;
        gap: 118px;
        margin-left: 30px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    .categoria2:nth-child(3) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 20px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 15px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: -10px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: -23px;  
    }
    

    #left {
        margin-top: 20px;
        margin-left: 35px;
    }

    #right {
        position: relative;
        top: 130px;
        right: 20px;
    }

    .cardapio {
        margin-left: 150px;
    }
  

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    #menu {
        padding-right: -300px;
      }

      .wrapper {
        margin-left: 55px;
        margin-bottom: 80px;
    }

    .carousel {
        width: 800px;
        margin-top: 50px;
        margin-left: 40px;
    }

    .carousel img {
        width: 192px;
        height: 160px;
        margin-left: 10px;
    }

    .categoria {
        display: flex;
        gap: 115px;
        margin-left: 30px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    .categoria2:nth-child(3) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 30px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 15px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: -10px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: -15px;  
    }
    

    #left {
        margin-top: 20px;
        margin-left: 35px;
    }

    #right {
        position: relative;
        top: 130px;
        right: 20px;
    }

      .cardapio {
        margin-left: 100px;
      }


      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }

    .line_two {
        width: 77%;
        margin-left: 105px;
    }
  }  

  @media (min-width: 901px) and (max-width: 1024px) {

        
    .wrapper {
        margin-left: -15px;
        margin-bottom: 80px;
    }

    .carousel {
        width: 800px;
        margin-top: 50px;
        margin-left: 40px;
    }

    .carousel img {
        width: 192px;
        height: 160px;
        margin-left: 10px;
    }

    .categoria {
        display: flex;
        gap: 115px;
        margin-left: 30px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    #left {
        margin-top: 20px;
        margin-left: 35px;
    }

    #right {
        position: relative;
        top: 130px;
        right: 20px;
    }

    .cardapio {
        margin-left: 50px;
    }


    .description__two {
        width: 620px;
    }

    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .categoria2:nth-child(3) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 30px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 15px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: -10px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: -15px;  
    }
    

    .observation {
        margin-left: 140px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: -25px;
        font-size: 15px;
    }

    .line_two {
        width: 72%;
        margin-left: 55px;
    }
  }

  @media (min-width: 769px) and (max-width: 900px) {

    .menu_title {
        margin-left: -107px;
    }

    .wrapper {
        margin-left: -15px;
        margin-bottom: 80px;
    }

    .carousel {
        width: 610px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .carousel img {
        width: 189px;
        height: 160px;
        margin-left: 20px;
    }

    .categoria {
        display: flex;
        gap: 120px;
        margin-left: 30px;
    }

    .categoria2 { 
        font-size: 25px;
        font-family: "Montserrat";
    }

    .categoria2:hover {
        color: #CE8F5C;
    }

    #left {
        margin-top: 20px;
        margin-left: 10px;
    }

    #right {
        position: relative;
        top: 130px;
        right: 20px;
    }

    .cardapio {
        width: 660px;
        margin-left: 80px;
    }

    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .description__two1 {
        width: 250px;
    }
    .description__two {
        width: 400px;
    }

    .observation {
        margin-left: 140px;
    }

    .categoria2:nth-child(3) {
        margin-left: 10px;
    }
    
    .categoria2:nth-child(4) {
        margin-left: 35px;
    }
    
    .categoria2:nth-child(5) {
        margin-left: 15px;
    }
    
    .categoria2:nth-child(6) {
        margin-left: -10px;
    }
    
    .categoria2:nth-child(7) {
        margin-left: -10px;  
    }
    
    .valor2 {
        color: #000;
        float: right;
        font-size: 15px;
    }

    .line_two {
        width: 60%;
        margin-left: 85px;
    }
}

  @media (min-width: 481px) and (max-width: 768px) {

        #menu {
            margin-top: 100px;
        }
        .menu_title {
            margin-left: -100px;
            font-size: 32px;
        }

                
        .wrapper {
            margin-left: -15px;
            margin-bottom: 80px;
        }

        .carousel {
            width: 590px;
            margin-top: 50px;
            margin-left: 40px;
        }

        .carousel img {
            width: 192px;
            height: 160px;
            margin-left: 10px;
        }

        .categoria {
            display: flex;
            gap: 120px;
            margin-left: 30px;
        }

        .categoria2 { 
            font-size: 25px;
            font-family: "Montserrat";
        }

        .categoria2:hover {
            color: #CE8F5C;
        }

        .categoria2:nth-child(2) {
            margin-left: -8px;
        }
        
        .categoria2:nth-child(3) {
            margin-left: 8px;
        }
        
        .categoria2:nth-child(4) {
            margin-left: 20px;
        }
        
        .categoria2:nth-child(5) {
            margin-left: 15px;
        }
        
        .categoria2:nth-child(6) {
            margin-left: -18px;
        }
        
        .categoria2:nth-child(7) {
            margin-left: -18px;  
        }

        #left {
            margin-top: 20px;
            margin-left: 10px;
        }

        #right {
            position: relative;
            top: 130px;
            right: 20px;
        }

        .cardapio {
            margin-left: -10px;
            width: 703px;
        }
    
        .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }

        .description__two {
            width: 500px;
        }
    

        .valor {
            margin-right: 30px;
        }

        .valor2 {
            color: #000;
            float: right;
            margin-right: -170px;
            font-size: 15px;
        }
    
        .observation {
            margin-left: 0px;
        }

        .line_two {
            width: 100%;
            margin-left: -20px;
        }
    }

  @media (min-width: 320px) and (max-width: 480px)  {
.menu_text {
    margin-left: -35px;
    font-size: 20px;
}
#menu {
    margin-top: 550px;
}
.menu_title {
    font-size: 22px;
}

.wrapper {
    position: absolute;
    margin-left: -15px;
}

.carousel {
    width: 225px;
    margin-top: 50px;
}

.carousel img {
    width: 108px;
    height: 90px;
    margin-left: 10px;
}

.categoria {
    display: flex;
    gap: 60px;
    margin-left: 20px;
}

.categoria2 { 
    font-size: 15px;
    font-family: "Montserrat";
}

.categoria2:hover {
    color: #CE8F5C;
}

#left {
    margin-top: 20px;
    margin-left: 10px;
}

#right {
    margin-top: 20px;
}

.cardapio .title {
    font-size: 13px;
}

.conteudo {
    margin-top: 200px;
}

.cardapio {
    margin-left: -15px;
    width: 280px;
}

.description {
    font-size: 15px;
}

.description__two1 {
    margin-top: 10px;
    color: #000;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 121.924%;
    letter-spacing: 0.6px;
    width: 200px;
}

.description__two {
    width: 200px;
    font-size: 12px;
}


.valor {
    margin-right: 30px;
    font-size: 12px;
}

.line_two {
    width: 100%;
    margin-left: -20px;
}

.valor2 {
    color: #000;
    float: right;
    margin-right: -40px;
    font-size: 12px;
}

.categoria2:nth-child(3) {
    margin-left: 10px;
}

.categoria2:nth-child(4) {
    margin-left: 25px;
}

.categoria2:nth-child(5) {
    margin-left: 15px;
}

.categoria2:nth-child(7) {
    margin-left: -6px;  
}

.observation {
    width: 200px;
    margin-left: -0px;
    font-size: 10px;
}

}