* {
    margin: 0;
}

#menu {
    margin-top: 70.5rem;
}

:root {
    font-size: 62.5%;
}

#menu,
.menu_text {
    margin-left: 6.6rem;
}


#menu {
    margin-top: 70.5rem;
}

:root {
    font-size: 62.5%;
}

#menu,
.menu_text {
    margin-left: 6.6rem;
}

.categoria {
    display: flex;
    flex-direction: row;
    color: aqua;
    font-size: 40px;
    gap: 80px;
    margin-left: 110px;
}

.categoria2 {

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  

.wrapper
{
  display: flex;
  max-width: 1200px;
  position: relative;
}


.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #CE8F5C;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}


.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}


.wrapper i:hover{
  background: #f2f2f2;
}


.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}


.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}


.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}


.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

.cardapio {
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.cardapio__two {
    font-size: 25px;
    margin-block: 20px;
}

.title {
    font-weight: bold;
    margin-top: 20px;
}

.valor {
    float: right;
    margin-right: 250px;
    color: #000;
}

.description {
    margin-top: 10px;
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

.description__two {
    color: #000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    line-height: 121.924%;
    letter-spacing: 0.6px;
}

.line {
    margin-top: 5px;
    height: 2px;
    width: 80%;
    background-color: #cecece;
}

p.title {
    color: #CE8F5C;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;

}

p.descrition {
    display: flex;
    flex-direction: column;
}

.observation {
    display: flex;
    align-items: center;
    margin: 2.0rem 0 0 35.5rem;
    font-size: 1.5rem;
}

@media (min-width: 1920px) {
    #menu {
      padding-left: 150px;
    }

    .menu_title {
        font-size: 45px;
    }

    p.title {
        font-size: 23px;
    }

    .description {
        font-size: 20px;
    }

    .description__two {
        font-size: 17px;
    }

    .description__two1 {
        color: #000;
        font-size: 17px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 17px;
    }

    .observation {
        margin-left: 450px;
    }
  }

   @media (min-width: 1600px) and (max-width: 1919px) {
    #menu {
        padding-left: 86px;
      }
  
      .menu_title {
          font-size: 45px;
      }

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 350px;
    }
  }

    @media (min-width: 1440px) and (max-width: 1559px) {
        #menu {
            margin-top: -100px;
          }

          .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }
    
        .valor2 {
            color: #000;
            float: right;
            margin-right: 250px;
        }
    
        .observation {
            margin-left: 350px;
        }
  }

  @media (min-width: 1201px) and (max-width: 1439px) {

  

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    #menu {
        padding-right: -300px;
      }

      .cardapio {
        margin-left: 100px;
      }


      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }
  }  

  @media (min-width: 901px) and (max-width: 1024px) {
   
    .description__two {
        width: 620px;
    }

    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .observation {
        margin-left: 140px;
    }

    .valor2 {
        color: #000;
        float: right;
          margin-right: 8px;
        font-size: 15px;
    }
  }

  @media (min-width: 769px) and (max-width: 900px) {

    .menu_title {
        margin-left: -107px;
    }
    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }
    .description__two {
        width: 500px;
    }

    .observation {
        margin-left: 140px;
    }



    .valor2 {
        color: #000;
        float: right;
          margin-right: 15px;
        font-size: 15px;
    }
}

    @media (min-width: 481px) and (max-width: 768px) {

        #menu {
            margin-top: 250px;
        }
        .menu_title {
            margin-left: -100px;
            font-size: 32px;
        }

        .cardapio {
            margin-left: -100px;
        }
    
        .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }

        .description__two {
            width: 500px;
        }
    

        .valor {
            margin-right: 30px;
            
        }

        .valor2 {
            color: #000;
            float: right;
            margin-right: -190px;
            font-size: 15px;
        }
    
        .observation {
            margin-left: 150px;
        }
    }


    @media (min-width: 320px) and (max-width: 480px)  {
    .menu_text {
    margin-left: -35px;
    font-size: 20px;
}
#menu {
    margin-top: 550px;
}
.menu_title {
    font-size: 22px;
}

.wrapper {
    position: absolute;
}

.carousel {
    margin-left: 15px;
    width: 225px;
    margin-top: 50px;
}

.carousel img {
    width: 100px;
    height: 90px;
}

.categoria {
    display: flex;
    flex-direction: row;
    color: aqua;
    font-size: 12px;
    gap: 20px;
    margin-left: 70px;
}

#left {
    margin-top: 20px;
    margin-left: 10px;
}

#right {
    margin-top: 20px;
}

.cardapio .title {
    font-size: 13px;
}

.conteudo {
    margin-top: 200px;
}

.cardapio {
    margin-left: -15px;

}

.description__two1 {
    color: #000;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 121.924%;
    letter-spacing: 0.6px;
    width: 200px;
}

.description__two {
    width: 200px;
    font-size: 12px;
}


.valor {
    margin-right: 30px;
    font-size: 12px;
    
}

.valor2 {
    color: #000;
    float: right;
    margin-right: -80px;
    font-size: 12px;
}

.observation {
    margin-left: 15px;
    font-size: 10px;
}

}