* {
    margin: 0;
}

#menu {
    margin-top: 70.5rem;
}

:root {
    font-size: 62.5%;
}

#menu,
.menu_text {
    margin-left: 6.6rem;
}

.carrossel__two {
    max-width: 1100px;
    width: 95%;
}

.carrossel__two__slides .slide-button {
    position: absolute;
    top: 282%;
    height: 50px;
    width: 50px;
    color: #ccc;
    background: #ce8f5c;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translateY(50%);
}

.carrossel__two__slides .slide-button:hover {
    color: #ce8f5c;
    background-color: #ccc;
}

.carrossel__two__slides .slide-button#prev-slide {
    left: 120px;

}

.carrossel__two__slides .slide-button#next-slide {
    right: 95px;
}

.carrossel__two__slides .carrossel_two_slides__img__list {
    display: grid;
    height: 240px;
    gap: 48px;
    grid-template-columns: repeat(15, 1fr);
    margin: 50px 40px 5px 180px;
    overflow-x: auto;
    scrollbar-width: none;
}

.carrossel__two__slides .carrossel_two_slides__img__list::-webkit-scrollbar {
    display: none;
}

.carrossel__two__slides .carrossel_two_slides__img__list .image-item {
    object-fit: cover;
    height: 189px;
    width: 225px;
}

.carrossel__two .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 4px;
    margin: 0 auto;

}

.slider-scrollbar:hover .scrollbar-track {
    height: 2px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


.categoria {
    margin: 200px 0 0 -222px;
    color: #3E3C3C;
    font-size: 25px;
    font-family: "Montserrat";
    cursor: pointer;
}

.categoria:hover {
    color: #CE8F5C;
}

p.categoria:nth-child(2) {
    margin-left: -220px;
}

p.categoria:nth-child(4) {
    margin-left: -200px;
}

p.categoria:nth-child(6) {
    margin-left: -200px;
}

p.categoria:nth-child(8) {
    margin-left: -190px;
}

p.categoria:nth-child(10) {
    margin-left: -210px;
}

p.categoria:nth-child(12) {
    margin-left: -218px;
}

p.categoria:nth-child(14) {
    margin-left: -213px;
}

.container {
    margin-top: 45px;
    margin-left: 6.6rem;
}
.cardapio {
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.cardapio__two {
    font-size: 25px;
    margin-block: 20px;
}

.title {
    font-weight: bold;
    margin-top: 20px;
}

.valor {
    float: right;
    margin-right: 250px;
}

.valor {
    color: #000;
}

.description {
    margin-top: 10px;
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

.description__two {
    color: #000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 300;
    line-height: 121.924%;
    letter-spacing: 0.6px;
}

.line {
    margin-top: 5px;
    height: 2px;
    width: 80%;
    background-color: #cecece;
}

p.title {
    color: #CE8F5C;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;

}

p.descrition {
    display: flex;
    flex-direction: column;
}

.observation {
    display: flex;
    align-items: center;
    margin: 2.0rem 0 0 35.5rem;
    font-size: 1.5rem;
}

@media (min-width: 1920px) {
    #menu {
      padding-left: 150px;
    }

    .menu_title {
        font-size: 45px;
    }

    p.title {
        font-size: 23px;
    }

    .carrossel__two {
        margin-left: 150px;
    }

    .carrossel__two__slides .slide-button#prev-slide {
        position: absolute;
        margin-top: -600px;
        margin-left: 200px;
    }

    .carrossel__two__slides .slide-button#next-slide {
        position: absolute;
        margin-top: -600px;
        margin-right: 200px;
    }

    .description {
        font-size: 20px;
    }

    .description__two {
        font-size: 17px;
    }

    .description__two1 {
        color: #000;
        font-size: 17px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 17px;
    }

    .observation {
        margin-left: 450px;
    }
  }

   @media (min-width: 1600px) and (max-width: 1919px) {
    #menu {
        padding-left: 86px;
      }
  
      .menu_title {
          font-size: 45px;
      }

      .carrossel__two__slides .slide-button#prev-slide {
          position: absolute;
          margin-top: -300px;
          margin-left: 50px;
      }
  
      .carrossel__two__slides .slide-button#next-slide {
          position: absolute;
          margin-top: -300px;
          margin-right: 100px;
      }

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 350px;
    }
  }

    @media (min-width: 1440px) and (max-width: 1559px) {
        #menu {
            margin-top: -100px;
          }
    
          .carrossel__two__slides .slide-button#prev-slide {
              position: absolute;
              margin-top: -530px;

          }
      
          .carrossel__two__slides .slide-button#next-slide {
              position: absolute;
              margin-top: -530px;
              margin-right: 50px;
          }

          .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }
    
        .valor2 {
            color: #000;
            float: right;
            margin-right: 250px;
        }
    
        .observation {
            margin-left: 350px;
        }
  }

  @media (min-width: 1201px) and (max-width: 1439px) {

    .carrossel__two__slides {
        margin-right: 100px;
    }


      .carrossel__two__slides .slide-button#prev-slide {
          position: fixed;
          margin-top: -690px;

      }
  
      .carrossel__two__slides .slide-button#next-slide {
          position: fixed;
          margin-top: -690px;
      }
      

      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    #menu {
        padding-right: -300px;
      }

      .cardapio {
        margin-left: 100px;
      }

 
    .carrossel__two__slides .carrossel_two_slides__img__list {
        width: 800px;
        gap: 25px;
      }

    .carrossel__two__slides .carrossel_two_slides__img__list .image-item {
        width: 240px;
        height: 200px;
      }

    .carrossel__two__slides .slide-button#prev-slide {
        position: fixed;    
      }
      
      .carrossel__two__slides .slide-button#next-slide {
          position: fixed;
      }

      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }

      .carrossel__two .slider-scrollbar {
        width: 950px;
      }

      .slider-scrollbar .scrollbar-track {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110px;
    }

    p.categoria:nth-child(2) {
        margin-left: -205px;
        margin-top: 205px;
    }

    p.categoria:nth-child(4) {
        margin-left: -190px;
        margin-top: 205px;
    }
    
    p.categoria:nth-child(6) {
        margin-left: -180px;
        margin-top: 205px;
    }
    
    p.categoria:nth-child(8) {
        margin-left: -180px;
        margin-top: 205px;
    }
    
    p.categoria:nth-child(10) {
        margin-left: -195px;
        margin-top: 205px;
    }
    
    p.categoria:nth-child(12) {
        margin-left: -205px;
        margin-top: 205px;
    }
    
    p.categoria:nth-child(14) {
        margin-left: -200px;
        margin-top: 205px;
    }


      .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .valor2 {
        color: #000;
        float: right;
        margin-right: 250px;
        font-size: 15px;
    }

    .observation {
        margin-left: 250px;
    }
  }  

  @media (min-width: 901px) and (max-width: 1024px) {
   

    .carrossel__two {
        margin-left: -50px;
    }
    
    .carrossel__two__slides .slide-button#prev-slide {
        position: fixed;    
      }
      
      .carrossel__two__slides .slide-button#next-slide {
          position: fixed;
      }

      .carrossel__two__slides .carrossel_two_slides__img__list {
        width: 600px;
        gap: 20px;
      }

      .carrossel__two__slides .carrossel_two_slides__img__list .image-item {
        width: 185px;
        height: 155px;
      }

      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }

      .carrossel__two .slider-scrollbar {
        margin-left: 80px;
        width: 630px;
      }

      .slider-scrollbar .scrollbar-track {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110px;
    }

    p.categoria:nth-child(2) {
        margin-left: -175px;
        margin-top: 165px;
    }

    p.categoria:nth-child(4) {
        margin-left: -155px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(6) {
        margin-left: -150px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(8) {
        margin-left: -140px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(10) {
        margin-left: -165px;
        margin-top: 185px;
    }
    
    p.categoria:nth-child(12) {
        margin-left: -165px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(14) {
        margin-left: -165px;
        margin-top: 165px;
    }

    .description__two {
        width: 620px;
    }

    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }

    .observation {
        margin-left: 140px;
    }

    .valor2 {
        color: #000;
        float: right;
          margin-right: 8px;
        font-size: 15px;
    }
  }

  @media (min-width: 769px) and (max-width: 900px) {

    .menu_title {
        margin-left: -107px;
    }

    .carrossel__two {
        margin-left: -140px;
    }

    .carrossel__two__slides .slide-button#prev-slide {
        position: fixed;    
      }
      
      .carrossel__two__slides .slide-button#next-slide {
          position: fixed;
      }

      .carrossel__two__slides .carrossel_two_slides__img__list {
        width: 600px;
        gap: 20px;
      }

      .carrossel__two__slides .carrossel_two_slides__img__list .image-item {
        width: 185px;
        height: 155px;
      }

      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }

      .carrossel__two .slider-scrollbar {
        margin-left: 80px;
        width: 630px;
      }

      .slider-scrollbar .scrollbar-track {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110px;
    }

    p.categoria:nth-child(2) {
        margin-left: -175px;
        margin-top: 165px;
    }

    p.categoria:nth-child(4) {
        margin-left: -155px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(6) {
        margin-left: -150px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(8) {
        margin-left: -140px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(10) {
        margin-left: -165px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(12) {
        margin-left: -165px;
        margin-top: 165px;
    }
    
    p.categoria:nth-child(14) {
        margin-left: -165px;
        margin-top: 165px;
    }

    .description__two1 {
        color: #000;
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 121.924%;
        letter-spacing: 0.6px;
    }
    .description__two {
        width: 500px;
    }

    .observation {
        margin-left: 140px;
    }



    .valor2 {
        color: #000;
        float: right;
          margin-right: 15px;
        font-size: 15px;
    }
}

    @media (min-width: 481px) and (max-width: 768px) {

        #menu {
            margin-top: 250px;
        }
        .menu_title {
            margin-left: -100px;
            font-size: 32px;
        }
    
        .carrossel__two {
            margin-left: -180px;
        }

        .slide-button {
            width: 20px;
        }
    
          .carrossel__two__slides .slide-button#prev-slide {
            position: fixed;    
          }
          
          .carrossel__two__slides .slide-button#next-slide {
              position: fixed;
          }
    
          .carrossel__two__slides .carrossel_two_slides__img__list {
            width: 600px;
            gap: 18px;
          }

          .carrossel__two__slides .carrossel_two_slides__img__list .image-item {
            width: 185px;
            height: 155px;
          }

          .slider-scrollbar .scrollbar-thumb {
            width: 20%;
          }

          .carrossel__two .slider-scrollbar {
            margin-left: 40px;
            width: 638px;
          }
    
          .slider-scrollbar .scrollbar-track {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 110px;
        }

        .cardapio {
            margin-left: -100px;
        }

        p.categoria:nth-child(2) {
            margin-left: -175px;
            margin-top: 165px;
        }

        p.categoria:nth-child(4) {
            margin-left: -155px;
            margin-top: 165px;
        }
        
        p.categoria:nth-child(6) {
            margin-left: -150px;
            margin-top: 165px;
        }
        
        p.categoria:nth-child(8) {
            margin-left: -140px;
            margin-top: 165px;
        }
        
        p.categoria:nth-child(10) {
            margin-left: -165px;
            margin-top: 165px;
        }
        
        p.categoria:nth-child(12) {
            margin-left: -165px;
            margin-top: 165px;
        }
        
        p.categoria:nth-child(14) {
            margin-left: -165px;
            margin-top: 165px;
        }
    
        .description__two1 {
            color: #000;
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 121.924%;
            letter-spacing: 0.6px;
        }

        .description__two {
            width: 500px;
        }
    

        .valor {
            margin-right: 30px;
            
        }

        .valor2 {
            color: #000;
            float: right;
            margin-right: -190px;
            font-size: 15px;
        }
    
        .observation {
            margin-left: 150px;
        }
    }


    @media (min-width: 320px) and (max-width: 480px)  {
    .menu_text {
    margin-left: -35px;
    font-size: 20px;
}
#menu {
    margin-top: 550px;
}
.menu_title {
    font-size: 22px;
}

.carrossel__two {
    width: 20px;
    margin-left: -208px;
}

  .carrossel__two__slides .slide-button#prev-slide {
    position: fixed;
      margin-top: -660px;
      margin-left: -80px;
  }

  .carrossel__two__slides .slide-button#next-slide {
    position: fixed;
    margin-top: -660px;
    margin-right: 55px;
  }

  .carrossel__two__slides .slide-button {
    width: 40px;
    height: 40px;
  }

  .carrossel__two__slides .carrossel_two_slides__img__list {
    width: 300px;
    height: 190px;
    gap: 20px;
  }

  .categoria {
    margin-top: 100px;
    color: #3E3C3C;
    font-size: 15px;
    font-family: "Montserrat";
    cursor: pointer;
}


p.categoria:nth-child(2) {
    margin-left: -125px;
    margin-top: 140px;
}

p.categoria:nth-child(4) {
    margin-left: -120px;
    margin-top: 140px;
}

p.categoria:nth-child(6) {
    margin-left: -120px;
    margin-top: 140px;
}

p.categoria:nth-child(8) {
    margin-left: -110px;
    margin-top: 140px;

}

p.categoria:nth-child(10) {
    margin-left: -125px;
    margin-top: 140px;
}

p.categoria:nth-child(12) {
    margin-left: -130px;
    margin-top: 140px;
}

p.categoria:nth-child(14) {
    margin-left: -125px;
    margin-top: 140px;
}


.carrossel__two__slides .carrossel_two_slides__img__list .image-item {
    background-size: auto;
    width: 150px;
    height: 125px;
    gap: 12px;
}

.slider-scrollbar .scrollbar-thumb {
    width: 15%;
  }

  .carrossel__two .slider-scrollbar {
    margin-left: 65px;
    margin-top: 10px;
    width: 410px;
  }

  .slider-scrollbar .scrollbar-track {
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}

.cardapio .title {
    font-size: 13px;
}

.cardapio {
    margin-left: -105px;

}

.description__two1 {
    color: #000;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 121.924%;
    letter-spacing: 0.6px;
    width: 200px;
}

.description__two {
    width: 200px;
    font-size: 12px;
}


.valor {
    margin-right: 30px;
    font-size: 12px;
    
}

.valor2 {
    color: #000;
    float: right;
    margin-right: -100px;
    font-size: 12px;
}

.observation {
    margin-left: 15px;
    font-size: 10px;
}

}