* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

#time {
    margin-top: 15.0rem;
    font-family: "Montserrat"; 
}

.time_title {
    color: #ce8f5c;
font-size: 3.6rem;
font-weight: 500;
margin-left: 13rem;
}

.time__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15.0rem;
    gap: 15.5rem;
}

.time__text1__title {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.time__text1__subtitle {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 3.0rem;
    margin-top: 5.0rem;
    width: 315px;
    height: 173px;
    text-align: center;
}

@media (min-width:1920px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 45px;
        margin-left: 285px;
        margin-top: 35px;
    }

    .time__logo {
       width: 430px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 150px;
        gap: 155px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 26px;
        width: 500px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 45px;
        margin-left: 220px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 150px;
        gap: 155px;
    }

  

   
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 36px;
        margin-left: 130px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        gap: 105px;
    }

    .time__logo {
        margin-bottom: 50px;
    }

    .time__text1__title {
        margin-top: 25px;
        font-size: 20px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 15px;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    #time {
        display: flex;
        flex-direction: column;
        margin-top: 230px;
    }

    .time_title {
        font-size: 36px;
        margin-left: 130px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        gap: 75px;
    }

    .time__logo {
        margin-bottom: 50px;
    }

    .time__text1__title {
        margin-top: 25px;
        font-size: 20px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 22px;
        margin-left: 30px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        gap: 45px;
    }

    .time__logo {
        margin-bottom: 50px;
    }

    .time__text1__title {
        margin-top: 25px;
        font-size: 20px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 15px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 22px;
        margin-left: 30px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        gap: 25px;
    }

    .time__logo {
        margin-bottom: 50px;
    }

    .time__text1__title {
        margin-top: 25px;
        font-size: 20px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 18px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #time {
        display: flex;
        flex-direction: column;
    }

    .time_title {
        font-size: 22px;
        margin-left: 30px;
        margin-top: 35px;
    }

    .time__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        gap: 5px;
    }

    .time__logo {
        margin-bottom: 50px;
    }

    .time__text1__title {
        margin-top: 25px;
        font-size: 20px;
    }

    .time__text1__subtitle {
        width: 200px;
        margin-top: 10px;
        font-size: 18px;
    }
}