* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.work__hero__img {
  display: flex;
  margin-top: 5.5rem;
  width: 100%;
}

.work__hero__title {
  margin-left: 13rem;
}

h2 {
  color: #ce8f5c;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.work__text1 {
  margin-top: 2rem;
  margin-left: 13rem;
  font-family: "Open Sans";
}

.work__text1 {
  color: #000;
  font-size: 1.50rem;
  width: 706px;
}

.curriculo {
  margin: 74px 0 134px 143px;
}

.btn {
  position: relative;
  width: 220px;
  height: 60px;
  padding-left: 40px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;


  background: #CE8F5C;
  color: #FFF;

  border-radius: 60px;

  text-decoration: none;

  text-transform: uppercase;
  user-select: none;

  letter-spacing: 2px;

  border-top: 0.5px solid rgba(255, 255, 255, 0.35);
  border-left: 0.5px solid rgba(255, 255, 255, 0.35);

  transition: 0.5s;

  font-size: 10.5px;
  font-weight: 500;
  font-family: "Montserrat";
}

.btn:hover {
  padding-left: 0;
  padding-right: 40px;

  color: rgba(255, 255, 255, 1);
}

.btn span {
  position: absolute;
  left: 5px;

  width: 50px;
  height: 50px;

  background: #e4e4e4;

  border-radius: 50%;

  transition: 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
  font-size: 2.2rem;
}

.btn:hover span {
  left: calc(100% - 55px);
}

.btn::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: translateX(-178px) skewX(30deg);
  transition: 0.75s ease-in-out;
  z-index: 10;
}

.btn:hover::before {
  transform: translateX(178px) skewX(30deg);
}

@media (min-width:1920px) {
  #work {
    margin-top: 50px;
    margin-bottom: 350px;
  }

  .work__hero__title {
    margin-left: 285px;
    font-size: 45px;
  }

  .work__text1 {
    margin-left: 285px;
    width: 1020px;
    font-size: 26px;
  }

  .work__hero__img {
    width: 100%;
  }

  .curriculo {
    margin-left: 300px;
  }

  .btn {
    font-size: 13px;
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  #work {
    margin-top: 50px;
    margin-bottom: 350px;
  }

  .work__hero__title {
    margin-left: 220px;
    font-size: 45px;
  }

  .work__text1 {
    margin-left: 220px;
    width: 820px;
    font-size: 20px;
  }

  .work__hero__img {
    width: 100%;
  }

  .curriculo {
    margin-left: 250px;
  }

  .btn {
    font-size: 13px;
  }
}

@media (min-width: 1440px) and (max-width: 1559px) {

  #work {
    margin-top: 50px;
    margin-bottom: 350px;
  }

  .btn {
    font-size: 13px;
  }

}

@media (min-width: 1201px) and (max-width: 1439px) {
  .btn {
    text-transform: uppercase;
    position: relative;
    width: 230px;
    height: 58px;
    font-size: 10px;
  }

  .btn span {
    position: absolute;  
    width: 50px;
    height: 50px;
  
    transition: 0.5s ease-in-out;
  
    font-size: 25px;
  }

}

@media (min-width: 901px) and (max-width: 1024px) {
  .work__text1 {
    width: 520px;
    font-size: 12px;
  }

  .work__hero__img {
    display: flex;
    margin-top: 5.5rem;
    width: 100%;
  }

  .curriculo {
    margin-top: 35px;
  }

  .btn {
    font-size: 9.5px;
    padding-left: 49px;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  
  .work__hero__title {
    margin-left: 30px;
  }
  
  .work__text1 {
    width: 520px;
    font-size: 12px;
    margin-left: 30px;
  }

  .work__hero__img {
    display: flex;
    margin-top: 5.5rem;
    width: 100%;
  }

  .curriculo {
    margin-left: 40px;
    margin-top: 35px;
  }

  .btn {
    font-size: 9.5px;
    padding-left: 49px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .work__hero__title {
    font-size: 32px;
    margin-left: 30px;
  }
  .work__text1 {
    width: 540px;
    font-size: 12px;
    margin-left: 30px;
  }

  .work__hero__img {
    display: flex;
    margin-top: 5.5rem;
    width: 100%;
  }

  .curriculo {
    margin-left: 40px;
    margin-top: 35px;
  }

  .btn {
    font-size: 9px;
    padding-left: 49px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .work__hero__title {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 35px;
  }
  .work__text1 {
    width: 250px;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 35px;
  }

  .work__hero__img {
    width: 100%;
  }

  .curriculo {
    margin-left: 40px;
    margin-top: 35px;
  }

  .btn {
    text-transform: uppercase;
    position: relative;
    width: 210px;
    height: 58px;
    font-size: 9px;
  }

  .btn span {
    position: absolute;  
    width: 50px;
    height: 50px;
  
    transition: 0.5s ease-in-out;
  
    font-size: 25px;
  }

}
